:root{
    --lettuce: #C4E0A3;
    --onion: #0095D0;
    --tomato: #DF2935;
    --cheese: #E8C11A;
    --meat: #5A352A;
    --sauce: #F61AFC;
    --background: mediumorchid;
    --buttons-clickable: #A33B20;
}

html{
    scale: 125%;
    background-color: var(--buttons-clickable);
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

#hell{
    display:grid;
    /* grid-template: 99% 1% / 35% 65%; */
    grid-template: 20% 20% 20% 20% 20% / 35% 65%;
    background-color: var(--background);
    background-image: url(assets/background.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    width: 100%;
    height: 100%;
}

aside {
    min-height: 555px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
}

h2{
    margin-bottom: 1rem;
}

.customize-burger{
    background-image: url(assets/menu.svg);
    color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 330px;
    width: 230px;
    padding-top: 5rem;
    font-size: 13px;
}

td{
    width: 3rem;
}

button{
    appearance: none;
    border: none;
    background: none;
}

.add{
    background-color: var(--buttons-clickable);
    color: white;
    transition: 0.4s;
}

.remove{
    background-color: var(--buttons-clickable);
    color: white;
    transition: 0.4s;
}

.add:hover{
    background-color: var(--sauce);
}

.remove:hover{
    background-color: var(--sauce);
}

#price-container{
    margin-top: 1rem;
}

#restart{
    background-color: var(--cheese);
    margin-top: 1rem;
}

main{
    min-height: 555px;
    padding: 5rem;
}

#root{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-right: 3rem;
}

#upperBun{
    background-image: url(assets/upper-bun.svg);
    background-size: 300px;
    width: 300px;
    height: 92px;
}

#lowerBun{
    background-image: url(assets/lower-bun.svg);
    background-size: 300px;
    width: 300px;
    height: 49px;
}

.lettuce{
    background-image: url(assets/lettuce.svg);
    background-size: 285px;
    border-radius: 0.5rem;
    width: 285px;
    height: 20px;
    color: var(--tomato);
}

.onion{
    background-image: url(assets/onion.svg);
    background-size: 285px;
    border-radius: 0.5rem;
    width: 285px;
    height: 21px;
    color: var(--onion);
}

.cheese{
    background-image: url(assets/cheese.svg);
    background-size: 285px;
    border-radius: 0.5rem;
    width: 285px;
    height: 17px;
    color: var(--cheese);
}

.tomato{
    background-image: url(assets/tomato.svg);
    background-size: 285px;
    border-radius: 0.5rem;
    width: 285px;
    height: 21px;
    color: var(--tomato);
}

.meat{
    background-image: url(assets/meat.svg);
    background-size: 285px;
    border-radius: 0.5rem;
    width: 285px;
    height: 32px;
    color: var(--meat);
}

.sauce{
    background-image: url(assets/sauce.svg);
    background-size: 285px;
    border-radius: 0.5rem;
    width: 285px;
    height: 10px;
    color: var(--sauce);
}

footer{
    background-color: var(--buttons-clickable);
    padding: 0.78rem;
    /* grid-area: 3 / 1 / 3 / 3; */
    grid-area: 6 / 1 / 7 / 3;
    text-align: center;
    color: white;
}

footer a{
    color: white;
    font-size: 13px;
}