:root{
    --bun: #DFA06E;
    --lettuce: #5FF070;
    --onion: #6d35a1;
    --tomato: #DF2935;
    --cheese: #FFDD4A;
    --meat: #5A352A;
    --sauce: #fc03f8;
    --background: #27213C;
    --buttons-clickable: #A33B20;
    --buttons-unclickable: #A6A57A;
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
}

/* #left-hand{
    position:relative; 
    top:40px; 
    left:160px; 
    size-adjust: 50%;
    width:100px; 
    height:120px; 
    z-index:4;
} */

#hell{
    display:grid;
    grid-template: 99% 1% / 35% 65%;
    background-color: mediumorchid;
    background-image: url(assets/background.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--background); */
}

/* header{
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-align:center;
} */

aside {
    min-height: 555px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 2rem;
    /* background-color: var(--cheese); */
}

h2{
    margin-bottom: 1rem;
}

.customize-burger{
    /* background-color: var(--lettuce); */
    background-image: url(assets/menu.svg);
    color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 330px;
    width: 230px;
    padding-top: 5rem;
    font-size: 13px;
}

td{
    width: 3rem;
}

button{
    appearance: none;
    border: none;
    background: none;
}

.add{
    background-color: var(--buttons-clickable);
    color: white;
    transition: 0.4s;
}

.remove{
    background-color: var(--buttons-clickable);
    color: white;
    transition: 0.4s;
}

.add:hover{
    background-color: var(--sauce);
}

.remove:hover{
    background-color: var(--sauce);
}

#price-container{
    margin-top: 1rem;
}

#restart{
    background-color: var(--cheese);
    margin-top: 1rem;
}

main{
    min-height: 555px;
    /* background-color: skyblue; */
    padding: 5rem;
}

#root{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-right: 3rem;
}

#upperBun{
    /* background-color: var(--bun); */
    background-image: url(assets/upper-bun.svg);
    background-size: 300px;
    /* border-radius: 4rem 4rem 0rem 0rem; */
    width: 300px;
    height: 92px;
}

#lowerBun{
    /* background-color: var(--bun); */
    background-image: url(assets/lower-bun.svg);
    background-size: 300px;
    /* border-radius: 0rem 0rem 3rem 3rem; */
    width: 300px;
    height: 49px;
}

.lettuce{
    background-color: var(--lettuce);
    border-radius: 0.5rem;
    width: 285px;
    color: var(--lettuce);
}

.onion{
    background-color: var(--onion);
    border-radius: 0.5rem;
    width: 285px;
    color: var(--onion);
}

.cheese{
    /* background-image: url(/assets/wave.svg); */
    background-color: var(--cheese);
    border-radius: 0.5rem;
    width: 285px;
    height: 15px;
}
/* make melting and random! */

.tomato{
    background-color: var(--tomato);
    border-radius: 0.5rem;
    width: 285px;
    color: var(--tomato);
}

.meat{
    background-color: var(--meat);
    border-radius: 0.5rem;
    width: 285px;
    height: 30px;
    color: var(--meat);
}

.sauce{
    background-color: var(--sauce);
    border-radius: 0.5rem;
    width: 285px;
    height: 10px;
    color: var(--sauce);
}

footer{
    background-color: var(--buttons-clickable);
    padding: 1rem;
    grid-area: 3 / 1 / 3 / 3;
    text-align: center;
    color: white;
}

footer a{
    color: white;
}
